body {
  background: #F5F7FB;
  margin: 0;
}

.img-top {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100VH;
}

.inner {
  text-align: center;
  width: 400px;
  height: 250px;
}

h1 {
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: 700;
}

p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
}

button {
  border-radius: 15px;
  background: #4D5B9E;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  color: #F5F7FB;
  padding: 10px 28px;
  cursor: pointer;
}

.img-bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}